<div class="consumption plr20">
	<table>
		<tr>
			<th class="bookName">流水单号</th>
			<th>充值金额(元)</th>
			<th>交易时间</th>
		</tr>
		<tbody>
			<tr *ngFor="let history of rechargeList">
				<td><a>{{history.orderCode}}</a></td>
				<td class="YQValue">{{history.money}}</td>
				<td>{{history.time}}</td>
			</tr>
		</tbody>
	</table>
	<div class="mt24 mb24">
		<app-page [pageParams]="{pageSize:10,totalNum:totalNum,curPage:1,totalPage:totalPage}" (changeCurPage)="getPageData($event)"></app-page>
	</div>
</div>
<div *ngIf="tipLayerBoolean">
	<app-tip-layer (outertip)=recevicetip($event) [tipMessage]="tipMessage"></app-tip-layer>
</div>
<div *ngIf="loginBoolean">
	<app-login (outerLogin)="reviceLogin($event)" ></app-login>
</div>