<div class="user-nav">
	<div class="leftNav pb25">
		<ul class="navUl">
			<li class="bookstroe" routerLinkActive="on" routerLink="/yuanqiParent/yuanqi">
				<a href="javascript:void(0)" >
					<i class="icon"></i>
					<i class="icon"></i>
					<span>关于元气</span>
				</a>
			</li>
			<li class="subscribe" routerLinkActive="on" routerLink="/yuanqiParent/contact">
				<a href="javascript:void(0)">
					<i class="icon"></i>
					<i class="icon"></i>
					<span>联系我们</span>
				</a>
			</li>
			<li class="userComment" routerLinkActive="on" routerLink="/yuanqiParent/agreement">
				<a href="javascript:void(0)">
					<i class="icon"></i>
					<i class="icon"></i>
					<span>用户协议</span>
				</a>
			</li>
			<li class="account" routerLinkActive="on" routerLink="/yuanqiParent/notice">
				<a href="javascript:void(0)">
					<i class="icon"></i>
					<i class="icon"></i>
					<span>版权申明</span>
				</a>
			</li>
			<li class="security" routerLinkActive="on" routerLink="/yuanqiParent/help">
				<a href="javascript:void(0)">
					<i class="icon"></i>
					<i class="icon"></i>
					<span>帮助中心</span>
				</a>
			</li>
			<li class="userMessage" routerLinkActive="on" routerLink="/yuanqiParent/feedback">
				<a href="javascript:void(0)">
					<i class="icon"></i>
					<i class="icon"></i>
					<span>意见反馈</span>
				</a>
			</li>
		</ul>
	</div>
</div>
	