<div class="secrity plr20">
	<div class="bindingContent">
		<form action="" [formGroup]="changepwdForm" (ngSubmit)="postDate()">
			<h1 class="titleTip"><span>修改密码</span></h1>
			<div class="lineBox mb16 mt40">
				<span class="leftName">输入原始密码</span>
				<input type="password" formControlName="pwd" class="longInput" placeholder="请输入原始密码" />
				<div  [class.error]="changepwdForm.get('pwd').invalid && changepwdForm.get('pwd').touched">
				    密码为6-21位字母和数字组成
				</div>
			</div>
			<div formGroupName="password">
				<div class="lineBox mb16">
					<span class="leftName">输入新确认密码</span>
					<input type="password" formControlName="newPwd" class="longInput" placeholder="请输入6~20位密码" />
					<div class="error">
				        <p [hidden]="!changepwdForm.hasError('passGroupValidator','password')">
				            {{changepwdForm.getError('passGroupValidator','password')?.info}}
				        </p>
				    </div>
				</div>
				<div class="lineBox mb16">
					<span class="leftName">确认新密码</span>
					<input type="password" formControlName="confirmPwd" class="longInput" placeholder="请再次输入密码" />
				</div>
			</div>
			<div class="lineBox botton mt60">
				<span class="leftName"></span>
				<div class="rightBox">
					<button class="bindingBtn">绑定</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div *ngIf="tipLayerBoolean">
	<app-tip-layer (outertip)=recevicetip($event) [tipMessage]="tipMessage"></app-tip-layer>
</div>
<div *ngIf="loginBoolean">
	<app-login (outerLogin)="reviceLogin($event)" ></app-login>
</div>