.secrity{
	border: 1px solid #e5e5e5;
	min-height:500px;
}
.secrity .tipsH3{
	font-size: 18px;
	line-height: 22px;
	color: rgb(11,195,147);
	font-weight: bold;
}
.secrity  h1{
	line-height: 22px;
	font-size: 18px;
	color: rgb(68,68,68);
	margin-bottom: 35px;
}
.secrity  .content{
	font-size: 0;
} 
.secrity  .content .icon,
.secrity  .content p{
	display: inline-block;
	vertical-align: middle;
}
.secrity  .content .icon{
	width: 24px;
	height: 24px;
	margin-right: 12px;
}
.secrity  .content p{
	font-size: 16px;
	color: rgb(68,68,68); 
	line-height: 22px;
}
.secrity  .content button{
	width: 108px;
	height: 36px;
	color: #fff;
	font-size: 14px;
	background: rgb(11,195,147);
	outline: none;
	border: none;
	margin-top: -5px;
}
.secrity  .content button:active{
	background: rgba(11,195,147,0.8);
}
/*.secrity .changePassword{
	display: none;
}*/