<div class="yuanqiBox">
	<h1><a>用户协议</a></h1>
	<div class="yuanqiCon">
		 欢迎您注册元气小说，在您注册成功成为我们的用户后，您将有权利享有我们提供的相应服务，但同时也请遵守我们相关的网站规则和履行一定的义务。请您在注册之前务必认真阅读以下全部服务协议条款，如有任何疑问，可向我们网站咨询，您一旦注册成为我们的用户，则意味着您已完全接受以下条款：<br/><br/>

1、注册用户的权利和义务：<br/><br/>
1）用户有权拥有自已在元气小说网站的账号及密码，并有权使用自已的账号及密码随时登录元气小说及其下属站点。<br/>
2）用户可以根据自身需求对注册账户进行充值。<br/>
3）用户可以在论坛模块发表本协议中允许的言论。<br/>
4）注册用户必须是具备完全民事行为能力的自然人，法人或能够独立承担民事责任的其他组织。<br/>
5）用户有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证元气小说可以通过上述联系方式与自己进行联系。同时，用户也有义务在相关资料实际变更时及时更新有关注册资料。用户保证不以他人资料在元气小说进行注册或认证。如果用户提供的资料不准确，不真实，不合法有效，元气小说将保留结束用户使用各项服务的权利。<br/>
6）未经元气小说许可，不得将元气小说的信息用于任何侵犯国家、集体或个人利益的行为和商业行为。<br/>
7）用户不得向元气小说散发垃圾邮件、连锁邮件等骚扰性邮件；发布、传播或散发其它无关的信息。<br/>
8） 用户不得擅自转让自己的账号和密码给他人使用。鉴于网络服务的特殊性，元气小说无义务审核是否用户本人使用该组账号及密码，仅审核账号及密码是否与数据库中保存的一致，只要任何人输入的账号及密码与数据库中保存的一致，即可凭借该组账号及密码登陆并获得网络服务，所以即使用户认为其所有的账号登陆行为并非其本人所为，元气小说将不承担因此而产生的任何责任。<br/>
9）用户必须遵守国家法律、法规及规章，并特别注意并遵守以下事项：<br/>
9.1 不得以任何手段非法篡改、破坏、删除(或有此企图)元气小说或数据库中的内容，不得对元气小说所属的服务器、系统或网络进行任何形式的攻击、破坏，不得制作、传播病毒。一经发现，我们将立即无限期终止对用户的服务，并报告国家有关行政机关和司法机关，追究用户的法律责任。<br/>
9.2 不得利用元气小说来获取商业秘密，窥探个人隐私，侵犯他人知识产权，制造、传播和散布污蔑、诽谤、恐吓他人的言论和消息。一经发现，我们将立即无限期终止对用户的服务，并报告国家有关行政机关和司法机关，追究用户的法律责任。<br/>
9.3 用户在使用元气小说服务过程中，必须遵循以下原则：<br/>
9.3.1 遵守中国有关的法律和法规；<br/>
9.3.2 遵守所有与网络服务有关的网络协议、规定和程序；<br/>
9.3.3 发现任何非法使用用户账号或账号出现安全漏洞的情况，应立即通告元气小说；<br/>
9.3.4 禁止用户在接受网络服务过程中进行以下侵害行为，包括但不限于：<br/>
● 违反宪法确定的基本原则的；<br/>
● 危害国家统一、主权和领土完整的；<br/>
● 泄露国家秘密、危害国家安全或者损害国家荣誉和利益的；<br/>
● 煽动民族仇恨、民族歧视，破坏民族团结，或者侵害民族风俗、习惯的；<br/>
● 宣扬邪教、迷信的；<br/>
● 散布谣言，扰乱社会秩序，破坏社会稳定的；<br/>
● 宣扬淫秽、色情、赌博、非法彩票、暴力，或者教唆犯罪的；<br/>
● 侮辱、诽谤他人，侵害他人合法权益的；<br/>
● 违背社会公德的；<br/>
● 有法律、行政法规和国家规定禁止的其他内容的；<br/>
9.3.5 禁止用户进行以下侵害网络服务安全性的行为，包括但不限于：<br/>
● 以任何形式违反诚实信用原则，直接或间接采取组织、教唆、窃取、占有、使用、捡取、购买、转卖等手段侵犯任何第三方拥有使用权的账号、虚拟货币、虚拟物品、虚拟道具等权益；<br/>
● 以任何积极或消极的形式协助他人侵犯第三方权益的；<br/>
● 以任何形式违反诚实信用原则，直接或间接采取组织、教唆、窃取、占有、使用、捡取、购买、转卖等手段侵犯任何第三方拥有使用权的账号、虚拟货币、虚拟物品、虚拟道具等权益；<br/>
● 以任何积极或消极的形式协助他人侵犯第三方权益的；<br/>
9.3.6 未经元气小说授权，禁止用户访问或试图访问元气小说提供的相关网络、相关任何账户信息、计算机等服务；<br/>
9.3.7 未经元气小说授权，禁止利用元气小说提供的相关网络服务以任何其他方式进行收集任何其它用户的信息，包括但不限于用户的个人身份信息和通讯信息等；<br/>
9.3.8 禁止下载、安装或使用未经元气小说授权开发并正式发布的其它任何网络服务或产品；<br/>
9.3.9 禁止接收或下载由元气小说其他用户传输的与本网站及下属站点相关的信息资料；<br/>
9.3.10 禁止利用元气小说提供的相关网络服务进行任何可能对互联网的正常运转造成不利影响的行为，包括但不限于以任何方式传输含有计算机病毒、破坏性程序的文件、软件或病毒程序；<br/>
9.3.11 禁止利用元气小说服务系统进行任何洗钱、预付卡套现、购买和销售非法取得虚拟货币等违法行为；<br/>
9.3.12 禁止利用元气小说提供的相关网络服务传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；<br/>
9.3.13 禁止利用元气小说提供的相关网络服务进行任何不利于元气小说的行为；<br/>
9.3.14 就元气小说及合作商业伙伴的服务、产品、业务咨询应采取相应机构提供的沟通渠道，在公众场合发布有关元气小说及相关服务的负面宣传；<br/>
10）自愿接受元气小说站法律声明。<br/><br/>

2、元气小说的权利和义务<br/><br/>
1）元气小说有义务在现有技术上确保网站的正常运行，并努力提升和改进技术。<br/>
2）元气小说有权对用户的注册资料进行查阅，发现注册资料中存在任何问题或怀疑，均有权向用户发出询问及要求改正的通知或者直接作出删除等处理。<br/>
3）用户如有恶意批量注册的，盗号的，购买的，恶意刷收藏订阅等类似的行为的，元气小说有权随时将其删除，并不退回账号内余额。<br/>
4）元气小说有权随时直接以电子邮件或其它方式与用户联系。以电子邮件形式发送信息的，信息一经发出，即视为送达。<br/><br/>

3、服务的中断和终止<br/><br/>
在下列情况下，元气小说可以通过注销用户的方式终止服务：<br/>
1）用户因违反本服务协议相关规定而被元气小说中断服务；<br/>
2）元气小说发现用户注册资料中主要内容是虚假的，可随时终止与该用户的服务协议；<br/>
3）本服务协议终止或更新时，用户未确认新的服务协议的；<br/>
4）其它元气小说认为需终止服务的情况。<br/> <br/>

4、其它注意事项<br/><br/>
用户在使用元气小说提供的各项服务时，应承诺接受并遵守各项相关规则。元气小说有权根据自身网站需要，不时的制定、修改本协议及各类规则，如本协议有任何变更，元气小说将在网站上刊载公告，通知用户。如用户不同意相关变更，必须停止享用“服务”。<br/>
修订的协议一经在元气小说公布后，即视为立即自动生效。各类规则会在发布后生效，亦成为本协议的一部分。登录或继续享用该“服务”的，将表示用户接受新修订的协议。除另行明确声明外，任何使该“服务”范围扩大或功能增强的新内容均受本协议约束。<br/><br/>

5、声明<br/><br/>
鉴于元气小说已依法明确了上述条款、履行了格式条款制订方的义务，用户点击同意或下一步，将被视为且应当被视为用户已经完全注意并同意了本协议所有条款内容，尤其是提醒用户注意的条款的合法性及有效性，用户不应当以元气小说未对格式条款以合理方式提醒用户注意，或未根据用户要求尽到说明义务为理由而声称或要求法院或其它任何第三方确认相关条款非法或无效。如您不同意此服务条款，请勿注册为本网站用户。<br/><br/><br/><br/>


	</div>
</div>





    