<div class="yuanqiBox">
	<h1><a>关于元气</a></h1>
	<div class="yuanqiCon">
		<p class="mt24">元气小说是由资深网络文学团队及影视IP孵化团队精心打造的集网络文学出版、创作指导、版权运营与IP孵化于一体的全产业链的开放网络文学平台。</p>
		<p class="mt24">元气小说致力于于发掘有创作力的年轻网络作家，凝聚新一代原创力量，为酷爱阅读的原创爱好者提供全新的优质阅读服务。以多元化的作品满足读者个性化的阅读需求，以舒适的体验为读者营造轻松的个人阅读空间，精心打造的绿色书库涵盖玄幻、言情、都市、悬疑、青春等热门分类，传递新兴文学力量，传播原创文化无限魅力</p>
		<p class="mt24">元气小说平台依托版权数据平台进行优质版权筛选、二次开发、内容分发、发行等业务，形成一个成熟的IP产业生态链。推进网络文学泛娱乐运营、用户阅读及体验，鼓励并扶持原创作品和创作者，并让每一部优秀的文学数字版权实现更大的价值。未来元气小说将成为网络文学全产业链的中坚力量。</p>
	</div>
</div>





    