<div class="header">
	<div class="contentArea clearfix">
		<a href="javascript:void(0)" class="logo mr16" routerLink="/home">
			<img src="../../../assets/images/logo.png" alt="" />
		</a>
		<span>忘记密码</span>
	</div>		
</div>
<div class="wrap">
	<div class="contentArea">
		<div class="tipBox mt50">
			<span class="validation on">1、填写信息</span>
			<span class="bindingOk">2、密码修改成功</span>
		</div>
		<form action="" [formGroup]="registerForm">
			<div class="bindingContent mt60">
				<h1 class="titleTip mb16"><span>填写信息</span></h1>
				<div class="lineBox mb16">
					<span class="leftName">手机号</span>
					<input type="text" id="phone" maxlength="11" class="longInput" (blur)="phoneBlur()" formControlName="phone" placeholder="请输入手机号" />
					<div  [class.error]="registerForm.get('phone').invalid && registerForm.get('phone').touched">
				        请填入正确的手机号
				    </div>
				</div>
				<div class="lineBox mb16">
					<span class="leftName">验证码</span>
					<div class="rightBox">
						<input type="button" class="longInput color" value="点击开始验证" id="slideFun" />
						<img class="animate" src="../../../assets/images/validationA.png" alt="" />
						<div class="slide">
							<div id="mpanel4"></div>
						</div>
					</div>
				</div>
				<div class="lineBox mb16">
					<span class="leftName">短信验证</span>
					<div class="rightBox">
						<input type="text" maxlength="6" formControlName="authCode" class="smallInput" placeholder="请输入验证码" />
						<span class="getCode ml20"  (click)="authCodeClick()" id="getCode">获取验证码</span>
						<!-- [ngModelOptions]="{standalone: true}" -->
						<!-- <input type="button"   (click)="authCodeClick()" class="getCode ml20" [(ngModel)]="authCodeText"  /> -->
						<div  [class.error]="registerForm.get('authCode').invalid && registerForm.get('authCode').touched">
					        请填入正确的验证码
					    </div>
					</div>
				</div>
				<div formGroupName="password">
					<div class="lineBox mb16">
						<span class="leftName">输入密码</span>
						<input type="password" class="longInput" formControlName="newPwd" placeholder="请输入6~20位密码" maxlength="20" />
						
					</div>
					<div class="lineBox mb16">
						<span class="leftName">确认密码</span>
						<input type="password" maxlength="20" class="longInput" formControlName="confirmPwd" placeholder="请再次输入密码" />
						<div class="error">
					        <p [hidden]="!registerForm.hasError('passGroupValidator','password')">
					            {{registerForm.getError('passGroupValidator','password')?.info}}
					        </p>
					    </div>
					</div>
				</div>
				<div class="lineBox botton mb16">
					<span class="leftName"></span>
					<div class="rightBox">
						<p class="mt16">
							<button class="bindingBtn" (click)="registerSubmit()">提交</button>
						</p>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div *ngIf="tipLayerBoolean">
	<app-tip-layer (outertip)=recevicetip($event) [tipMessage]="tipMessage"></app-tip-layer>
</div>
<div class="mt40">
	<app-foot></app-foot>
</div>

