<div class="header">
	<div class="contentArea clearfix">
		<a href="javascript:void(0)" class="logo mr16" routerLink="/home">
			<img src="../../../assets/images/logo.png" alt="" />
		</a>
		<span>作家专区</span>
	</div>		
</div>
<div class="wrap">
	<div class="contentArea">
		<div class="tipBox mt50">
			<span class="validation on">1、接受协议</span>
			<span class="bindingOk on">2、填写材料</span>
			<span class="bindingOk on">3、提交成功</span>
		</div>
		<div class="bindingContent mt60">
			<div class="bindingOkBox pt90">
				<img class="imgOk" src="../../../assets/images/Forma1.png" alt="" />
				<p class="phoneBinding mt32">我们已成功收到您的作者申请，责编会尽快给您联系</p>
				<p class="goHome mt60">
					<!-- <a routerLink="/user/bookStore/myStore">返回个人中心</a> -->
					<!-- <a routerLink="/writerzone">进入作家专区</a> -->
					<a class="" routerLink="/home">返回首页</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="mt40">
	<app-foot></app-foot>
</div>
