.creatworkContent{
	padding: 30px 20px;
}
.modified .contentLeft{
	width: 134px;
	text-align: center;
}
.contentLeft .bookCover{
	width: 134px;
	height: 188px;
}
 .contentLeft .bookCover img{
	width: 134px;
	height: 188px;
}
.modified .contentLeft .updataBtn{
	width: 108px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: rgb(11,195,147);
	border: 1px solid rgb(11,195,147);
	display: inline-block;
}
.modified .contentLeft .updataBtn:active{
	background-color: rgba(11,195,147,0.1);
}
.modified .contentLeft .updataBtn input{
	width: 108px;
	height: 36px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: none;
}
.modified .contentLeft .updataBtn{
	width: 108px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: rgb(11,195,147);
	border: 1px solid rgb(11,195,147);
	display: inline-block;
}
.modified .contentLeft .updataBtn:active{
	background-color: rgba(11,195,147,0.1);
}

.creatworkContent .contentLeft p{
	font-size: 12px;
	color: rgb(153,153,153);
	line-height: 24px;
	text-align: center;
}
.contentRight {
	width: 674px!important;
}
.contentRight .lineBox .name{
	width: 80px;
	text-align: right;
	font-size: 14px;
	color: rgb(68,68,68);
	line-height: 42px;
	padding-right: 16px;
	height: 42px;
}
.contentRight .lineBox .lineBoxRight .long{
	width: 460px;
	border: 1px solid #e5e5e5;
	line-height: 40px;
	color: rgb(153,153,153);
	font-size: 14px;
	padding: 0 20px;
} 
.contentRight .lineBox .lineBoxRight .select{
	line-height: 40px;
	border: 1px solid #e5e5e5;
	padding: 0 20px;
	font-size: 14px;
	color: rgb(153,153,153);
	outline: none;
}
input,textarea{
	outline: none;
}
.contentRight .lineBox .lineBoxRight .value{
	line-height: 42px;
	font-size: 14px;
	color: rgb(68,68,68);
}
.contentRight .lineBox .lineBoxRight .valueText{
	line-height: 42px;
	font-size: 14px;
	color: rgb(102,102,102);
	max-width: 440px;
	display: inline-block;
}
.contentRight .lineBox .lineBoxRight .valueText.on{
	line-height: 24px;
}
.contentRight .lineBox .lineBoxRight .textarea{
	padding: 10px 16px;
	line-height: 26px;
	color: rgb(153,153,153);
	width: 460px;
	border: 1px solid #e5e5e5;
	height: 120px;
	outline: none;
	resize: none;
}
.contentRight .lineBox .lineBoxRight button{
	width: 108px;
	height: 36px;
	font-size: 14px;
}
.contentRight .lineBox .lineBoxRight button.cancel{
	border: 1px solid rgb(11,195,147);
	color: rgb(11,195,147);
	background-color: #fff;
}
.contentRight .lineBox .lineBoxRight button.cancel:active{
	background-color: rgba(11,195,147,0.1);
}
.contentRight .lineBox .lineBoxRight button.submit{
	border: 1px solid rgb(11,195.147);
	color: #fff;
	background-color: rgba(11,195,147,1);
}
.contentRight .lineBox .lineBoxRight button.submit:active{
	background-color: rgba(11,195,147,0.8);
}
.worksettingNav{
	font-size: 0;
}
.worksettingNav a{
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px;
	line-height: 39px;
	font-size: 14px;
	color: rgb(68,68,68);
	border-bottom: 3px solid rgb(229,229,229);
}
.worksettingNav a+a{
	margin-left: 32px;
}
.worksettingNav a.on{
	border-color: rgb(11,195,147);
}
.worksettingNav{
	line-height: 42px;
	height: 42px;
	overflow: hidden;
	background:rgb(229,229,229);
	padding: 0 10px;
}

.worksettingNav .rightA a{
	width: 70px;
	height: 24px;
	line-height: 22px;
	font-size: 12px;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}
.worksettingNav .rightA a.newfj{
	color: rgb(11,195,147);
	border:1px solid rgb(11,195,147);
}
.worksettingNav .rightA a.newChapter{
	color:#fff;
	background: rgb(11,195,147);
	border:1px solid rgb(11,195,147);
}



.contentRight .lineBox .lineBoxRight {
	position: relative;
}

.modified .contentRight .lineBox .lineBoxRight .labelUl.hide{
	display: none;
}
.modified .contentRight .lineBox .lineBoxRight .labelUl{
	width: 460px;
	padding:10px;
	position: absolute;
	left: 0;
	top: 42px;
	max-height:300px;
	overflow-y: scroll;
	font-size: 0;
	z-index: 9;
	background-color: #fff;
	border:1px solid #e5e5e5;
}
 #labelId{
	display: none;
} 
.modified .contentRight .lineBox .lineBoxRight .labelUl li{
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: rgb(68,68,68);
	border-bottom:1px solid #e5e5e5;
}
.modified .contentRight .lineBox .lineBoxRight .labelUl li span,
.modified .contentRight .lineBox .lineBoxRight .labelUl li input,
.modified .contentRight .lineBox .lineBoxRight .labelUl li b{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: rgb(68,68,68);
}
.modified .contentRight .lineBox .lineBoxRight .labelUl li b{
	width: 16px;
	height: 16px;
	border:1px solid #ccc;
	margin-right: 10px;
	position: relative;
}
.modified .contentRight .lineBox .lineBoxRight .labelUl li b.on{
	background:url(../../../../assets/images/gou.png) no-repeat center center/cover;
}
.modified .contentRight .lineBox .lineBoxRight .labelUl li input{
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top:0;
	position: 10;
}
.modified .contentRight .lineBox .lineBoxRight .labelUl li span{
	font-size: 14px;
	line-height: 36px;
	color: rgb(68,68,68);
}
