.top{
	width: 100%;
	height: 160px;
	padding: 10px 24px 16px;
	background: url(../../../assets/images/incomeBg.png) no-repeat center center/cover;
}
.top .tips{
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	position: relative;
}
.top .tips span{
	color: #fff;
}
.top .tips .time{
	position: absolute;
	right: 0;
	top: 0;
}
.top .tips .all{
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
}
.top .allAmount{
	font-size: 48px;
	font-weight: bold;
	color: #fff;
	line-height: 54px;
	text-align: center;
}
.top .amountDetail{
	font-size: 0;
	text-align: center;
}
.top .amountDetail span{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 26px;
	color: #fff;
}
.timeSelect{
	font-size: 0;
}
.timeSelect span{
	font-size: 14px;
	line-height: 26px;
	color:rgb(68,68,68);
	display: inline-block;
	vertical-align: middle;
}
.timeSelect select{
	display: inline-block;
	vertical-align: middle;
	color: rgb(68,68,68);
	outline: none;
	font-size: 14px; 
	width: 260px;
	height: 36px;
	border: 1px solid #e5e5e5;
	padding: 0 10px;
}
.timeSelect .selectType{
	display: inline-block;
	vertical-align: middle;
	color: rgb(68,68,68);
	outline: none;
	font-size: 14px; 
	width: 260px;
	height: 36px;
	padding: 0 10px;
}
.timeSelect .selectType input{
	border: 1px solid #e5e5e5;
	display: inline-block;
	width: 100%;
	height: 36px;
	line-height: 36px;
	padding:0 10px;
}
button{
	width: 108px;
	height: 36px;
	font-size: 14px;
	border: 1px solid rgb(11,195,147);
}
.timeSelect .query{
	background: #fff;
	color: rgb(11,195,147);
}
.timeSelect .query:active{
	color: rgba(11,195,147,0.1);
}
.table table{
	border:1px solid #e5e5e5;
	width: 100%;
	font-size: 12px;
	color: rgb(153,153,153);
}
.table table tr{
	border-bottom: 1px solid #e5e5e5;
}
.table table tr td.td1{
	width:150px; 
}
.table table tr td.td2{
	width:55px; 
}
.table table tr td.td3{
	width:80px; 
}
.table table tr td.td4{
	width:90px; 
}
.table table tr td.td5{
	width:90px; 
}
.table table tr td.td6{
	width:90px; 
}
.table table tr td.td7{
	width:90px; 
}
.table table tr td.td8{
	width:90px; 
}
.table table tr td.td9{
	width:90px; 
}
.table table tr td{
	line-height: 22px;
	padding: 10px 0;
}
.table table tr td:nth-child(1){
	padding-left: 16px;
	padding-right: 10px;
}
.table table tbody tr td{
	color: rgb(68,68,68);
}
.table table tbody tr td:nth-child(2){
	color: rgb(153,153,153);
}
.table table tbody tr td:nth-child(3){
	color: rgb(153,153,153);
}
