
<app-nav></app-nav>
<img src="../../assets/images/active8.png" alt="" width="100%" />
<div class="active">
	<img src="../../assets/images/active1.png" alt="" />
	<img src="../../assets/images/active2.png" alt="" />
	<img src="../../assets/images/active3.png" alt="" />
	<img src="../../assets/images/active4.png" alt="" />
	<img src="../../assets/images/active5.png" alt="" />
	<img src="../../assets/images/active6.png" alt="" />
	<img src="../../assets/images/active7.png" alt="" />
</div>
<app-foot></app-foot>