<app-nav [paramskeyword]="keyword"></app-nav>	
<div class="search bookListBox" >
	<h1 class="typeTitle">共{{totalNum}}个相关作品</h1>
	<div class="searchBox">
		<div class="bookDescribe clearfix ptb24" [class.green]='i<3'  *ngFor="let rank of searchList let i=index" >
			<div class="bookLeftCover fl">
				<a [ngStyle]="{'backgroundImage':'url('+rank.bookCover+')'}" [routerLink]="['/bookDetail',rank.bookId]">
					<div class="rankIndex"><span>0{{i+1}}</span></div>
				</a>
			</div>
			<div class="bookCenterDetail pl15 fl">
				<h1 class="bookTitle mb10"><a [routerLink]="['/bookDetail',rank.bookId]">{{rank.bookName}}</a></h1>
				<div class="bookMessage mb16">
					<i class="icon"></i>
					<span class="author" [routerLink]="['/author',rank.authorCode]">{{rank.author}}</span>
					<b class="dict"></b>
					<span>{{rank.bookMark}}</span>
					<b class="dict"></b>
					<span>{{rank.bookStatus=="1"?"连载中":"已完结"}}</span>
				</div>
				<div class="bookIntroduction">
					{{rank.bookDes}}
				</div>
				<div class="wordAndTime mt10">
					<span>{{rank.wordNum}}字</span>
					<b class="dict"></b>
					<span>{{rank.updateTime}}更新</span>
				</div>
			</div>
			<div class="bookRightButton fr">
				<button class="on" [routerLink]="['/bookDetail',rank.bookId]">作品详情</button>
				<button [class.on1]="rank.shelfFlag==='1'" (click)="addbookLibray(rank)">{{rank.shelfFlag==="1"?"已在书架":"加入书架"}}</button>
			</div>
		</div>
		<div class="mt24 mb24">
			<app-page [pageParams]="{pageSize:pageSize,totalNum:totalNum,curPage:curPage,totalPage:totalPage}" (changeCurPage)="getPageData($event)"></app-page>
		</div>
	</div>
</div>
<div class="mt40">
	<app-foot></app-foot>
</div>
<div *ngIf="tipLayerBoolean">
	<app-tip-layer (outertip)=recevicetip($event) [tipMessage]="tipMessage"></app-tip-layer>
</div>



