<div class="header">
	<div class="contentArea clearfix">
		<a href="javascript:void(0)" class="logo mr16" routerLink="/home">
			<img src="../../../assets/images/logo.png" alt="" />
		</a>
		<span>作家专区</span>
	</div>		
</div>
<div class="wrap">
	<div class="contentArea">
		<div class="tipBox mt50">
			<span class="validation on">1、接受协议</span>
			<span class="bindingOk">2、填写材料</span>
			<span class="bindingOk">3、提交成功</span>
		</div>
		<p class="tip mt32">作者注册协议</p>
		<div class="bindingContent pd24">
			<p>《作者注册协议》(以下简称《协议》)及其条款，系确立您使用本网站所订立的，描述您与本网站之间权利义务的协议。请您审慎阅读并选择接受或不接受本《协议》（未成年人应在法定监护人陪同下阅读）。除非您接受本《协议》所有条款，否则您无权使用本网站及其相关服务。您的使用、帐号获取和登录等行为将视为对本《协议》的接受，并同意接受本《协议》各项条款的约束。</p>
			<h1>定义和解释</h1>
			<p>1．“本网站”，系指由畅元国讯（天津）有限公司（下称“本公司”）运营的元气小说网（www.oqxiaoshuo.com）；[请核对新增网站]</p>
			<p>2． “用户”，指通过在网上点击同意的方式接受本注册协议，进而接受本网站所提供服务的自然人、法人或其他组织（下称“您”）；</p>

			<p>3． “注册作者”，系指接受和同意本作者注册协议的用户；</p>

			<p>4． “作品”，系指注册作者本人在本网站上上传、发布或发表的包括但不限于以文字、图片、声音、影像等形式创作的，注册作者对该作品依据《中华人民共和国著作权法》享有著作权及其附属权利的（除注册作者与本网站另有协议约定的外），文字作品或上述要素的组合（包括但不限于任何章节、片段等）；</p>

			<p>5．“不可抗力”，系指包括但不限于地震、台风、洪水、火灾、战争、劳工骚乱、疾病、恐怖袭击、政府行为以及其他双方无法预见、无法避免或克服的情形。</p>

			<p>6．“合作机构”，系指与本网站具有合作或关联关系的法人或非法人组织。</p>


			<h1>作者注册</h1>

			<p>1．请您严格按照本网站公布和提示的规则、流程进行注册。无论您通过何种方式获得本网站帐号，均应受本协议约束。</p>

			<p>2．本网站的帐号属于本公司所有，您注册成功以后获得有关帐号的使用权。</p>

			<p>3. 您通过帐号使用本网站提供的服务时，须同时遵守各项服务的服务条款。注册成为本网站的注册作者后，您有义务妥善保存您的作者帐号和密码，并对使用帐号进行的所有活动和行为负法律责任。当您使用完毕后，应安全退出帐号。因您保管不善可能导致遭受盗号或密码失窃，责任由您自行承担。</p>

			<p>4.注册成为本网站作者后，即表示您同意授权本站在所有所属网站及无线平台（包括但不限于：元气小说网（www.oqxiaoshuo.com）；[请核对新增网站]等）发表、上传、下载、排版、宣传您的作品，以及本站合作伙伴在本站所获授权范围内使用您作品的公众阅读章节。</p>

			<p>4．您所使用的笔名以及提供的个人介绍等作者信息，不得含有违反国家法律、社会公德及本网站规定的文字、图片、声音、影像及其片段或组合，否则本网站有权不经另行通知随时无条件删除该注册作者帐号及其帐号下发表的任何内容。</p>

			<p>5．您完全理解并同意，本网站有权依据法律法规、本网站定期或不定期发布的管理规则或有权机关的要求，对您在注册后30天内未上传、发表任何作品文字，或清空、锁定所有作品片段、章节达7天，或声明离开本网站的，本网站有权不经另行通知无条件删除您在本网站的注册作者帐号及该帐号下发表的任何内容而无需承担任何法律责任。</p>
		</div>
		<p class="btnBox mt24">
		<!--  (click)="green()"-->
			<a class="cancelBtn" routerLink="/home">取消</a>
			<button class="agreementBtn ml40" routerLink="/fillInformation">同意</button>
		</p>
	</div>
</div>
<div class="mt40">
	<app-foot></app-foot>
</div>
