<div class="header">
	<div class="contentArea clearfix">
		<a href="javascript:void(0)" class="logo mr16" routerLink="/home">
			<img src="../../../assets/images/logo.png" alt="" />
		</a>
		<span>用户注册</span>
	</div>		
</div>
<div class="wrap">
	<div class="contentArea">
		<div class="tipBox mt50">
			<span class="validation on">1、手机验证</span>
			<span class="bindingOk on">2、绑定成功</span>
		</div>
		<div class="bindingContent mt60">
			<div class="bindingOkBox pt90">
				<img class="imgOk" src="../../../assets/images/Forma1.png" alt="" />
				<p class="phoneBinding mt32">手机绑定成功</p>
				<p class="phone mt16">您绑定的手机号为{{phone}}。</p>
				<p class="goHome mt60"><a routerLink="/home">返回首页</a></p>
			</div>
		</div>
	</div>
</div>
<div class="mt40">
	<app-foot></app-foot>
</div>
