<div class="yuanqiBox">
	<h1><a>联系我们</a></h1>
	<div class="yuanqiCon">
		<p class="mt40"><span>微信公众号：</span><span>元气小说网&nbsp;&nbsp;&nbsp;&nbsp;yuanqixsw</span>
		</p>
	    <div class="erweima mt24">
	    	<img src="../../../assets/images/mainerweima.jpg" alt="" />
	    </div>
		<p class="mt24"><span>商务合作：&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Lisa  QQ：382205991 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱：yangyueqing@oqxiaoshuo.com</span>
		</p>
		<p class="mt24"><span>网站责编：&nbsp;&nbsp;&nbsp;&nbsp;</span><span>大发  QQ：2136529098 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 邮箱：yangyu@oqxiaoshuo.com</span></p>
	</div>
</div>